<% include partials/header %>
<h1>The Post Page</h1>


<% for(var i=0; i<userPosts.length; i++){%>	 
	 <li><%= userPosts[i].title %> - <strong><%=userPosts[i].author%></strong></li>
	<% } %>

<hr>

<% userPosts.forEach(function(post){ %>
 <li><%= post.title %> - <strong><%=post.author%></strong></li>
<%}); %>

<% include partials/footer %>