<%- include("partials/header") %>

<h1>THIS IS THE LANDING PAGE!!</h1>


<a href="issuelogs/index">View Issue logs</a>
<a href="lessonlearnedlogs/index">View Lessons learned logs</a>

<%- include("partials/footer") %>