body{
    background: #978888;
}

text{
    font-family: Arial;
    font-size: 17px;
    
    }
h2, .flow-text{
    margin: 0 0 10px;
}
.modal{
    max-width: 500px;
}
.canvas{
    margin-top:40px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

/*----------------------------------------*/
