<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/performancechart/styles.css">
    <title>The Dojo</title>   
</head>
<body class= "grey darken-4">
   
    <div class="nav z-depth-0">
        <div class="section center">
            <h3 class="white-text center">- The Dojo -</h3>
        </div>      
    </div>
    <div class="section center">
      <p class="grey-text flow-text">A fitness tracker for ninjas</p>
    </div>

    <div class="container section">
        <div class="row">
            <div class="col s12 l5">
                <button class="active" data-activity="cycling">Cycling</button>
                <button data-activity="running">Running</button>
                <button data-activity="swimming">Swimming</button>
                <button data-activity="walking">Walking</button>
            </div>
            <div class="col s12 l6 push-l1">
                <div class="canvas"></div>
            </div>
        </div>
        <div class="row">
            <form  class="col m6 push-m3">
                <p class="flow-text grey-text center">How much <span> cycling</span> have you done today?</p>
                <input type="text" class="grey-text" id="cycling" placeholder="Distance in meters"/>
                <p class="center pink-text error text-lighten-1"></p>
            </form>
        </div>
    </div>


    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBRllXPP5KRg_A-Ia5tUIIerJT6BJrxBPc",
    authDomain: "d3-demo-4477f.firebaseapp.com",
    databaseURL: "https://d3-demo-4477f.firebaseio.com",
    projectId: "d3-demo-4477f",
    storageBucket: "d3-demo-4477f.appspot.com",
    messagingSenderId: "531479930362",
    appId: "1:531479930362:web:8619fc8f3b95b2f2e97043",
    measurementId: "G-GNSVWY76PY"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  const db = firebase.firestore();
  const settings  = {timestampsInSnapshots: true};
  db.settings(settings);
</script>
    
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="/performancechart/index.js"></script>
    <script src="/performancechart/graph.js"></script>
</body>
</html>