<%- include("partials/header") %>

<h1>THIS IS THE LANDING PAGE!!</h1>


<a href="/issuelogs">View Issue logs</a>
<a href="/lessonslearnedlogs">View Lessons learned logs</a>

<%- include("partials/footer") %>