<%- include("partials/header") %>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			<div class="d-flex flex-row">
			  <div class="p-2 jumboPageNotFound"></div>
				
				<div class="align-self-center"><span class="jumboPageNotFoundText"><h3>404 - Well this is embarassing.... Can't find the page you asked for.</h3></span></div>
				
			  
			</div>
		</div>		
	</header>
	
	
	
	
<%- include("partials/footer") %>
</div>
